---
import Layout from "../layouts/Layout.astro";
import Presentation from "../components/Presentation.astro";
import Projects from "../components/Projects.astro";
import { OWNER, SECTION_ORDER } from "../config";
import AboutMe from "../components/AboutMe.astro";
import GoodAt from "../components/GoodAt.astro";
import Contact from "../components/Contact.astro";
import Experience from "../components/Experience.astro";
import Navbar from "../components/Navbar.astro";
import Actions from "../components/Actions.astro";
import Separator from "../components/Separator.astro";
import Footer from "../components/Footer.astro";

const sections = {
  presentation: Presentation,
  actions: Actions,
  separator: Separator,
  projects: Projects,
  experience: Experience,
  aboutMe: AboutMe,
  goodAt: GoodAt,
  contact: Contact,
};
---

<Layout
  title={`Portafolio ${OWNER}`}
  description={`Portafolio de ${OWNER}, desarrollador de software con más de 4 años de experiencia en el desarrollo móvil y web.`}
>
  <main
    class="h-full inset-0 -z-10 w-full items-center px-5 [background:radial-gradient(125%_125%_at_50%_10%,#000_40%,#63e_100%)]"
  >
    <Navbar />
    <div class="md:px-6 lg:px-60">
      <div id="home" class="py-4 md:py-40">
        {
          SECTION_ORDER?.map((section) => {
            const Component = sections?.[section];
            if (!Component) {
              return null;
            }
            return <Component />;
          })
        }
        <Footer />
      </div>
    </div>
  </main>
</Layout>
