---
import Title from "./Title.astro";
---

<section id="sobre-mi" class="mt-12">
  <Title title="Conoceme un poco más 🧑‍💻" />
  <p class="font-montserrat text-white md:mx-24 mb-4">
    Mi nombre es <span class="text-principal">Wladimir</span>, comence a
    investigar sobre que era la programación por ahí por los <span
      class="text-principal">14 años</span
    >. Mi primera aplicación fue una calculadora que solo sumaba (Partí con el
    tipico error de <code>1+1= "11"</code> jajaja). Actualmente me encuentro como
    <span class="text-principal">Senior Frontend Engineer</span> en una destacada
    <span class="text-principal">Fintech</span> de mi país, Chile.
  </p>
  <p class="font-montserrat text-white md:mx-24">
    También ahora me estoy dedicando a la creación de contenido, tratando de
    enseñar sobre lo que más me gusta, la programación. Actualmente en TikTok
    cuento con más de <span class="text-principal">100.000</span> visualizaciones
    <span class="text-principal">5.500</span> me gusta y <span
      class="text-principal">3.000</span
    > seguidores en tan solo 2 semanas.
  </p>
</section>
