---
import Action from "../components/Action.astro";
import { ACTIONS } from "../config";
---

<section>
  <div
    class="grid grid-cols-2 md:flex md:flex-row md:items-center md:justify-center mt-4 md:mt-14"
  >
    {ACTIONS.map((action) => <Action {...action} />)}
  </div>
</section>
