---
import Action from "../components/Action.astro";
---

<section>
  <div
    class="grid grid-cols-2 md:flex md:flex-row md:items-center md:justify-center mt-4 md:mt-14"
  >
    <Action title="¡Hablemos!" to="#contacto" />
    <Action title="LinkedIn!" to="link" />
    <Action title="Correo" to="mailto:maddevcl@gmail.com" last />
  </div>
</section>
