---
import { OWNER } from "../config";
import Separator from "./Separator.astro";
---

<footer class="mt-20">
  <Separator />
  <div class="mt-20">
    <p class="font-montserrat mb-10 text-white font-black text-2xl text-center">
      ¡Gracias por llegar hasta aquí!
    </p>
    <p class="font-montserrat text-principal font-normal text-base text-center">
      Creado con ❤️, {OWNER}. Todos los derechos reservados.
    </p>
  </div>
</footer>
