---
import { Image } from "astro:assets";
import Title from "./Title.astro";
import htmlIcon from "../images/html5.png";
import { GOOD_AT, STACK } from "../config";
import Stack from "./Stack.astro";
---

<section class="mt-12">
  <Title title="쮼n qu칠 destaco?游눮" />
  <div class="md:mx-24 mb-4">
    <p class="font-montserrat text-white">
      Actualmente, estoy enfocado en el <span class="text-principal"
        >desarrollo de aplicaciones web</span
      > y <span class="text-principal">m칩viles</span>, abarcando todo el proceso
      desde el <span class="text-principal">primer</span> commit hasta la entrega
      en tiendas como <span class="text-principal">Google Play y App Store</span
      >. Con m치s de 4 a침os de experiencia en el desarrollo m칩vil y web, he
      creado desde p치ginas web est치ticas sin necesidad de un framework hasta
      aplicaciones <span class="text-principal">totalmente din치micas</span> que requieren
      stacks espec칤ficos para cumplir con los <span class="text-principal"
        >objetivos</span
      >.
    </p>
    <div class="grid grid-cols-2 mt-4">
      {
        !!GOOD_AT.specialty && (
          <div>
            <p class="text-principal font-montserrat font-bold">Especialidad</p>
            <p class="font-montserrat text-white">{GOOD_AT.specialty}</p>
          </div>
        )
      }
      {
        !!GOOD_AT.education && (
          <div>
            <p class="text-principal font-montserrat font-bold text-right">
              Educaci칩n
            </p>
            <p class="font-montserrat text-white text-right">
              {GOOD_AT.education}
            </p>
          </div>
        )
      }
    </div>
    <div class="grid grid-cols-5 md:grid-cols-10 mt-10 gap-y-2 md:gap-y-0">
      {STACK.map(({ src, alt }) => <Stack src={src} alt={alt} />)}
    </div>
  </div>
</section>
