---

---

<section class="">
  <div class="fixed -translate-x-2/4 left-1/2 text-white py-4 w-max">
    <div
      class="mx-auto bg-black shadow-[0px_0px_4px_1px_#f7fafc] px-6 rounded-lg grid grid-cols-12 md:grid-cols-10"
    >
      <a
        href="#home"
        class="col-span-4 md:col-span-2 font-montserrat font-semibold text-center text-xs md:text-sm md:py-1 md:px-4"
        >Mad Dev</a
      >
      <a
        href="#proyectos"
        class="col-span-4 md:col-span-2 font-montserrat font-semibold text-center text-xs md:text-sm md:py-1 md:px-4"
        >Proyectos</a
      >
      <a
        href="#experiencia"
        class="col-span-4 md:col-span-2 font-montserrat font-semibold text-center text-xs md:text-sm md:py-1 md:px-4"
        >Experiencia</a
      >
      <a
        href="#sobre-mi"
        class="col-span-6 md:col-span-2 font-montserrat font-semibold text-center text-xs md:text-sm md:py-1 md:px-4"
        >Sobre mí</a
      >
      <a
        href="#contacto"
        class="col-span-6 md:col-span-2 font-montserrat font-semibold text-center text-xs md:text-sm md:py-1 md:px-4"
        >Contacto</a
      >
    </div>
  </div>
</section>
