---
import NavLink from "./NavLink.astro";
---

<div
  class="fixed -translate-x-2/4 left-1/2 text-white py-4 w-full md:w-max px-8"
>
  <div
    class="bg-black backdrop-blur bg-opacity-40 shadow-[0px_0px_4px_1px_#f7fafc] px-6 rounded-lg"
  >
    <div class="grid grid-cols-3 md:grid-cols-5">
      <NavLink href="#home" title="Mad Dev" />
      <NavLink href="#proyectos" title="Proyectos" />
      <NavLink href="#experiencia" title="Experiencia" />
      <div class="col-span-3 md:col-span-2 flex justify-around">
        <NavLink href="#sobre-mi" title="Sobre mi" last />
        <NavLink href="#contacto" title="Contacto" last />
      </div>
    </div>
  </div>
</div>

<style>
  /* Custom backdrop blur */
  .backdrop-blur {
    backdrop-filter: blur(10px);
  }
</style>
