---
import NavLink from "./NavLink.astro";
---

<section class="">
  <div class="fixed -translate-x-2/4 left-1/2 text-white py-4 w-max">
    <div
      class="mx-auto bg-black shadow-[0px_0px_4px_1px_#f7fafc] px-6 rounded-lg grid grid-cols-12 md:grid-cols-10"
    >
      <NavLink href="#home" title="Mad Dev" />
      <NavLink href="#proyectos" title="Proyectos" />
      <NavLink href="#experiencia" title="Experiencia" />
      <NavLink href="#sobre-mi" title="Sobre mi" large />
      <NavLink href="#contacto" title="Contacto" large />
    </div>
  </div>
</section>
