---
interface Props {
  href: string;
  title: string;
  large?: boolean;
}

const { href, title, large = false } = Astro.props;
---

<div class={`col-span-${large ? "1" : "1"} md:col-span-2 md:py-1 md:px-4 `}>
  <a
    href={href}
    class={`font-montserrat font-semibold text-center text-xs md:text-sm `}
    >{title}</a
  >
</div>
