---
interface Props {
  href: string;
  title: string;
  last?: boolean;
}

const { href, title, last = false } = Astro.props;
---

<div class={`${last ? "" : "col-span-1"} md:col-span-1 md:py-1 md:px-4 `}>
  <a
    href={href}
    class={`font-montserrat font-semibold text-center text-xs md:text-sm `}
    >{title}</a
  >
</div>
